.supplyContainer {
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
}

.supplyContainer img {
    align-self: center;
}

.pileCounterStyle {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: -28%;
    margin-right: 10%;
}
