/******************************************************************
General styles 
******************************************************************/
body, html {
  height: 100%;
}

body {
  background: url(./pictures/water-background.jpg);
  /* Set to 98 vs 100 to prevent white strip on bottom of board */
  height: 100%;
  background-repeat: no-repeat;
}

/* In game view: grid css */
.gameView {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}  

/* Gird for Player 1, Game Board, Player 3 and Supply */
.middleGameView {
  justify-content: center;
  align-content: center;
}
/******************************************************************
Game Board
******************************************************************/
.box {
  /* background-image: url(./pictures/tile01-0.png); */
  display: inline-block;       
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin-bottom: -1px;
  }

.off {
  background-color: lightgray;
}

.on {
  background-color: green;
}
  
.box:hover { 
  background: #00CCFF;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
}

/* CSS Grid-style for board */
.boardGridStyle {
  grid-column: 2/5;
  grid-row: 2/3;
}

/******************************************************************
 Player components
 ******************************************************************/
.player {
  color: red;
}

/* Player 0 */
.playerZero {
  grid-column: 1/7;
}  
/******************************************************************
 Lantern hand 
 ******************************************************************/
.lanternCircles {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 6rem;
  margin-bottom: 1rem;
  background-color: lightblue;
  opacity: .5;
}

.whiteCircle {
  height: 3rem;
  width: 3rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border: 5px solid gray;
  line-height: 5rem;
}

.blueCircle {
  height: 3rem;
  width: 3rem;
  background-color: navy;
  border-radius: 50%;
  display: inline-block;
  border: 5px solid blue;
  line-height: 5rem;
}

.redCircle {
  height: 3rem;
  width: 3rem;
  background-color: darkred;
  border-radius: 50%;
  display: inline-block;
  border: 5px solid red;
  line-height: 5rem;
}

.greenCircle {
  height: 3rem;
  width: 3rem;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  border: 5px solid lime;
  line-height: 5rem;
}

.blackCircle {
  height: 3rem;
  width: 3rem;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  border: 5px solid black;
  line-height: 5rem;
}

.yellowCircle {
  height: 3rem;
  width:3rem;
  background-color:	#FFD700;
  border-radius: 50%;
  display: inline-block;
  border: 5px solid #DAA520;
  line-height: 5rem;
}

.purpleCircle {
  height: 3rem;
  width: 3rem;
  background-color: #9932CC;
  border-radius: 50%;
  display: inline-block;
  border: 5px solid #4B0082;
  line-height: 5rem;
}
