.App {
  text-align: center;
}


<<<<<<< HEAD
.App-body {
  background-color: #282c34;
=======
.App-header {
  background-color: turquoise;
>>>>>>> 9e703075303f364723bf1e7aad97f03bd63da2e1
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

