.tokenHand {
    
    text-align: center;
    padding: 0px 10px 10px 10px;
    
   
}

.tokenContainer {
    position: relative;
    width: 150px;
    background: none;
    border: none;
    padding: 0 0 0 0;
    margin-top: 5px;
}



h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}