.player-hand {
    display: grid;
    padding: 25px;
    margin: 10px;
    height: 100px;
    /* background-color: #00abfa;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png"); */

    grid-template-columns: auto auto auto;
    justify-content: left;
    column-gap: 25px;
    /* box-shadow: 5px 5px 5px 5px #888888;
    border-radius: 25px; */
}

.lake-tile-holder {
    width:100%; /*width of your image*/
    height:100%; /*height of your image*/
    margin:0; /* If you want no margin */
    padding:0;
    
}

img {
    max-width: 100%;
    max-height: 100%;
}

